@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(2, 10, 24);
}
ul {
	list-style: none;
	padding: 0;
}
a {
	text-decoration: none;
}
.logo {
	color: #3A68B8;
	font-size: 22.55px;
	font-weight: 600;
	transition: .4s ease-out;
}
.logo:hover {
	color: #fff;
}
.btn {
	display: flex;
	/* justify-content: space-between; */
	justify-content: center;
	align-items: center;
	gap: 10px;

	width: 114px;
	height: 52px;

	color: #fff;
	background-color: #3A68B8;

	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;

	padding: 15px 30px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: .4s;
}
.btn:hover {
	color: #3A68B8;
	background-color: #fff;
}
.container {
	margin: 0 auto;
	padding: 0 7px;
	max-width: 1146px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.active {
	border: 1px solid #3A68B8;
}

